@font-face {
    font-family: 'Din';
    src:  url('../fonts/din/DIN-Medium.ttf') format('truetype'); /* Legacy support */
    font-weight: normal; /* Optional: Define weight */
    font-style: normal;  /* Optional: Define style */
}

.detailBoxing{
    border: solid 2px rgb(75, 75, 75);
    box-shadow: 3px 3px 5px rgba(92, 92, 92, 0.5);
}

.detailBoxing:hover {
    border: solid 2px rgb(120, 120, 120);
    box-shadow: 3px 3px 5px rgba(92, 92, 92, 0.5);
}

.router-outlet {
    height: 100%;
    width: 100%;
}

.order-item {
    height: 25px;
    width: 25px;
    border: solid 2px rgb(75, 75, 75);
}

.order-item:hover {
    border: solid 2px rgb(120, 120, 120);
}

.checkout-select {
    background-color: rgb(50, 50, 50); /* Dark gray background */
    color: white; /* White text color */
    border: solid 2px rgb(75, 75, 75); /* Border color matching other elements */
    padding: 1px; /* Padding for better spacing */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Font size */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.checkout-select:hover {
    border-color: rgb(120, 120, 120); /* Lighter border color on hover */
    background-color: rgb(75, 75, 75); /* Slightly lighter background on hover */
}

.checkout-select:focus {
    outline: none; /* Remove default focus outline */
    border-color: rgb(120, 120, 120); /* Lighter border color on focus */
    box-shadow: 0 0 5px rgb(120, 120, 120); /* Add a subtle shadow on focus */
}

.checkout-btn {
    padding: 1px;
    border: solid 2px rgb(75, 75, 75);
}

.checkout-btn:hover {
    border: solid 2px rgb(120, 120, 120);
}

#ItemBoxing{
    border: solid 5px white;
}

#ItemImages{
    max-height: 500px;
}

#topHeading{
    padding-top: auto;
}

#navHeader{
    background-color: rgb(1, 1, 1);
}

#heroMain{
    background-image: url(https://www.rit.edu/dining/sites/rit.edu.dining/files/images/paragraph/image-card/beanz_20230820-MoveIn_2023_329A3358_0.jpg);
    background-position:center;
    background-repeat:no-repeat;
    background-size: cover;
    height: 300px;
}

#siteLogo{
    filter: invert(1);
}

#heroElements{
    background-color: rgba(66, 66, 66, 0.5);
    height: 150px;
}

#ItemSection{
    grid-template-columns: 1fr;
}

@media (min-width: 724px) {
    #ItemSection{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1024px) {
    #ItemSection{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
