<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RIT Delivery - Home</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
  <link rel="stylesheet" href="style/style.css">
</head>
<body>

  <!--Product Info-->
  <section class="section">
    <h1 class="title">Artesano Bakery Menu</h1>
    <div class="container">
      <h2 class="subtitle">Baked Goods</h2>
      <br>
      <p> Item </p>
      <button type="button" onclick="addToBasket('item!')">Add</button>
    </div>
  </section>

  <script src="./scripts/basket.js"></script>
</body>
</html>