<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RIT Delivery - Home</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
  <link rel="stylesheet" href="style/style.css">
</head>
<body>
  <!--Product Info-->
  <section class="section">
    <h1 class="title">Your Basket</h1>
    <div class="container" id="container">
      
    </div>
    <button type="button" onclick="empty()">Checkout</button>
  </section>

  <script src="../Template/scripts/basket.js"></script>
</body>
</html>