<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RIT Delivery - Home</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
  <link rel="stylesheet" href="style/style.css">
</head>
<body>
  <nav class="navbar has-shadow" id="navHeader">
    <div class="navbar-brand">
      <a class="navbar-item">
        <img src="images/food-svgrepo-com.svg" alt="Site logo" id="siteLogo" style="max-height: 70px;" class="py-2 px-2">
        <h1 class="is-size-3">RIT Deliveries</h1>
      </a>
      <a class="navbar-burger" id="burger">
        <span></span>
        <span></span>
        <span></span>
      </a>
    </div>

    <div class="navbar-menu is-active" id="nav-links">
      <div class="navbar-end">
        <a class="navbar-item">
          Shopping Cart (0)
        </a>
        <a class="navbar-item">
          My Account
        </a>
      </div>
    </div>
  </nav>

  <!-- breadcrumbs -->

  <section id="heroMain">
    <section class="section py-20" id="topHeading">
      <div class="column">  
        <div class="hero is-small py-1" id="heroElements" >
          <div class="hero-head">
            <p class="title is-size-1">
              Order Online
            </p>
            <p class="subtitle">
              Get Delivered Anywhere on campus
            </p>
            <!--<img class="p-3" style="float:right;width:50%" src="https://www.rit.edu/dining/sites/rit.edu.dining/files/images/paragraph/image-card/beanz_20230820-MoveIn_2023_329A3358_0.jpg" alt="dog"> -->
          </div>
          <div class="hero-footer">Contact: ace.coder@rit.edu</div>
        </div>
      </div>
    </section>

  </section>
  

  <!--Product Info-->
  <iframe class="router-outlet" id="router-outlet" src="Basket.html" scrolling="no"> 
    
  </iframe>
  

  <script src="scripts/main.js"></script>
</body>
</html>