@font-face {
    font-family: 'Din';
    src:  url('../fonts/din/DIN-Medium.ttf') format('truetype'); /* Legacy support */
    font-weight: normal; /* Optional: Define weight */
    font-style: normal;  /* Optional: Define style */
}

.detailBoxing{
    border: solid 2px rgb(75, 75, 75);
    box-shadow: 3px 3px 5px rgba(92, 92, 92, 0.5);

}

#ItemBoxing{
    border: solid 5px white;
}

#ItemImages{
    max-height: 500px;
}

#topHeading{
    padding-top: auto;
}

#navHeader{
    background-color: rgb(1, 1, 1);
}

#heroMain{
    background-image: url(https://www.rit.edu/dining/sites/rit.edu.dining/files/images/paragraph/image-card/beanz_20230820-MoveIn_2023_329A3358_0.jpg);
    background-position:center;
    background-repeat:no-repeat;
    background-size: cover;
    height: 300px;
}

#siteLogo{
    filter: invert(1);
}

#heroElements{
    background-color: rgba(66, 66, 66, 0.5);
    height: 150px;
}

#ItemSection{
    grid-template-columns: 1fr;
}

@media (min-width: 724px) {
    #ItemSection{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1024px) {
    #ItemSection{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
